* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-show {
    padding: 10px;
    display: flex;
    align-items: center;
}
.header-show > * {
    padding-right: 5px;
}
.my_obj p {
    font-size: 1.12em;
}
.my_obj img {
    max-width: 160px;
}
.my_obj table {
    margin-top: 10px;
    max-width: 97%;
}
.my_obj button {
    padding-right: 100%;
}
.center-title {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.center-title * {
    font-size: 3.3em;
}
.lim-obj {
    max-width: 95vw;
    max-height: 95vh;
}
.lim-container > div {
    padding-left: 5%;
    padding-top: 5px;
    max-width: 95vw;
    max-height: 95vh;
}
.sep-content > * {
    padding-left: 5%;
}
.center-container {
    padding: 5%;
}
.center {
    display: flex;
    justify-content: center;
}
.ci {
    display: flex;
    justify-content: center;
    max-width: 1000px;
}
.ci img {
    margin: 2px;
    width: 100%;
    height: 50vh;
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 9px;
}
.sep-left {
    padding: 2%;
}
.text_big {
    font-size: 200%;
}
@media screen and (max-width: 1025px) {
    .text_big {
        font-size: 2.5em;
    }
}